<%= check_and_display_errors(@shift) %>
<h5>Optionally, you can add a shift:</h5>
<%= f.fields_for(@shift) do |t| %>
  <%= t.fields_for(:channels) do |c| %>
    <%= c.label :channel %>
    <%= c.select(:channel, Channel.all.map {|channel| [channel.name ,channel.id]}) %> <br />
  <% end %>
  <%= t.label :date %>
  <%= t.date_field :date %> <br />
  <%= t.label :start_time %>
  <%= t.time_field :start_time %><br />
  <%= t.label :end_time %>
  <%= t.time_field :end_time %> <br />
  <%= t.hidden_field :employee_id %>
  Publish Shift? <%= t.check_box :published %><br /> <br />
<% end %>
