<div>
  <strong>Name: <%= employee.first_name %> <%= employee.last_name %></strong>
  <ul>
    <li>
      <strong>Email: </strong><%= employee.email %>
    </li>
    <li>
      <strong>Date Hired: </strong><%= employee.date_hired.strftime("%B %e, %Y") %>
    </li>
    <li>
      <strong>Role: </strong><%= employee.role %>
    </li>
  </ul>
  <%= link_to "View", admin_employee_path(employee) %> | <%= link_to "Edit", edit_admin_employee_path(employee) %> | <%= link_to "Delete", admin_employee_path(employee), method: 'delete' %> | <%= link_to "Add a Shift", new_admin_employee_shift_path(employee) %>
  <br /><br />
</div>
