<div class="field_with_errors">
  <%= check_and_display_errors(@employee) %>
</div>
<br />
<%= f.label :first_name %>
<%= f.text_field :first_name %><br />

<%= f.label :last_name %>
<%= f.text_field :last_name %> <br />

<%= f.label :email %>
<%= f.email_field :email %> <br />

<%= f.label :password %>
<%= f.password_field :password %> <br />

<%= f.label :date_hired %>
<%= f.date_field :date_hired %> <br />

<%= f.label :role %>
<%= f.select(:role, Employee.roles.keys.map {|role| [role.titleize,role]}) %> <br />
