<div>
  <% @employees.each do |employee| %>
  <strong>Name: <%= employee.first_name %> <%= employee.last_name %></strong>
  <ul>
    <li>
      Email: <%= employee.email %>
    </li>
    <li>
      Date Hired: <%= employee.date_hired %>
    </li>
    <li>
      Role: <%= employee.role %>
    </li>
  </ul>
  <% end %>
</div>
