<h2>Add a New Employee:</h2>
<div class='container'>
  <%= form_for [:admin, @employee] do |f| %>
    <%= render partial: 'form', locals: {employee: @employee, f:f} %>
    <strong><p>Optionally, you can add a shift:</p></strong>
    <%= f.fields_for(@shift) do |t| %>
      <%= render partial: 'shifts/mini_form', locals: {t:t, shift: @shift} %>
      <div class="submit-button">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>
</div>
