<h1><%= title_view_of_schedule(@schedule) %></h1>
<h3>
  <% if !@schedule.published %>
    <%= link_to "Publish", publish_path, method: 'post' %> ||
  <% end %>
  <%= link_to "Delete", schedule_path(@schedule), method: 'delete' %> ||
  <%= link_to "Add Shift", new_schedule_shift_path(@schedule) %>
</h3>
<% @schedule.shifts_in_chronological_order.each do |shift| %>
  <%= shift.employee.first_name %> <%= shift.employee.last_name %>
  <%= render "shifts/shift", shift: shift %>
<% end %>
