<h1 id="title"></h1>

<h3 id="header-options"></h3>

<h3>MONDAY - <%= @schedule.start_date.strftime("%b %e, %Y") %> </h3>
<div id="Monday">
</div>
<h3>TUESDAY - <%= (@schedule.start_date + 1.day).strftime("%b %e, %Y") %></h3>
<div id="Tuesday">
</div>
<h3>WEDNESDAY - <%= (@schedule.start_date + 2.days).strftime("%b %e, %Y") %></h3>
<div id="Wednesday">
</div>
<h3>THURSDAY - <%= (@schedule.start_date + 3.days).strftime("%b %e, %Y") %></h3>
<div id="Thursday">
</div>
<h3>FRIDAY - <%= (@schedule.start_date + 4.days).strftime("%b %e, %Y") %></h3>
<div id="Friday">
</div>

<h3>Add a Shift:</h3>
<div>
  <%= render partial: "shifts/form", locals: { shift: @schedule.shifts.build } %>
</div>

<%= javascript_tag do %>
  $(getSchedule(<%= @schedule.id %>));
<% end -%>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var shiftDetails = $(this).serialize();
      var posting = $.post('/shifts', shiftDetails, function(newShift){
        debugger;
      }, "json");

    });
  });
</script>
