<%= form_for shift do |t| %>
  <%= t.label :employee %> <br />
  <%= t.collection_select(:employee_id, Employee.all, :id, :first_name) %>
  <%= render "shifts/mini_form", t: t, shift: shift %>
  <div class="submit-button">
  <%= t.submit %>
  </div>
<% end %>
