<div>
  <strong>Name: <%= employee.first_name %> <%= employee.last_name %></strong>
  <ul>
    <li>
      <strong>Email: </strong><%= employee.email %>
    </li>
    <li>
      <strong>Date Hired: </strong><%= employee.date_hired.strftime("%B %e, %Y") %>
    </li>
    <li>
      <strong>Role: </strong><%= employee.role %>
    </li>
  </ul>
  <%= link_to "View", supervisor_employee_path(employee) %> | <%= link_to "View Existing Shifts", supervisor_employee_shifts_path(employee) %>
  <% if current_employee.supervisor? %>
  | <%= link_to "Edit", edit_supervisor_employee_path(employee) %> | <%= link_to "Delete", supervisor_employee_path(employee), method: 'delete' %> | <%= link_to "Add a Shift", new_supervisor_employee_shift_path(employee) %>
  <% end %>
  <br /><br />
</div>
