<div class="field_with_errors">
  <%= check_and_display_errors(@employee) %>
</div>
<br />
<%= f.label :first_name %>
<%= f.text_field :first_name %><br />

<%= f.label :last_name %>
<%= f.text_field :last_name %> <br />

<%= f.label :email %>
<%= f.email_field :email %> <br />

<%= f.label :password %>
<%= f.password_field :password %> <br />

<%= f.label :date_hired %>
<%= f.date_field :date_hired %> <br />

<%= f.label :role %>
<%= f.select(:role, Employee.roles.keys.map {|role| [role.titleize,role]}) %> <br /> <br />

Select some preferences:
<%= f.collection_check_boxes :preference_ids, Preference.all, :id, :desc %> <br />
<br />
Or create a new preference:
<%= f.fields_for :preferences, @preference do |preference_fields| %>
  Which day?
  <%= preference_fields.select(:day, Preference.days.keys.map {|day| [day.titleize,day]}, :include_blank => true) %> <br /><br />
  Prefer to work this day? (Check for 'yes')
  <%= preference_fields.check_box :allow %> <br /><br />
  What would you like to call this preference?
  <%= preference_fields.text_field :desc %>
<% end %>
