<!DOCTYPE html>
<!--

   _____ ________  ____________  __  ____    __________
  / ___// ____/ / / / ____/ __ \/ / / / /   / ____/ __ \
  \__ \/ /   / /_/ / __/ / / / / / / / /   / __/ / /_/ /
 ___/ / /___/ __  / /___/ /_/ / /_/ / /___/ /___/ _, _/
/____/\____/_/ /_/_____/_____/\____/_____/_____/_/ |_|


-->
<html>
  <head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
